.random-button {
  width: 138px;
  height: 38px;
  background-color: #0b69ff;
  color: #fff;
  border: none;
  border-radius: 8px;
  margin-top: 30px;
}
.Random-container {
  text-align: center;
}
.number {
  font-size: 28px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #0b69ff;
}
